nodered/.flows.json.backup
[{"id":"c034d0.babdbb3","type":"tab","label":"Power_Jack","disabled":false,"info":""},{"id":"7de374ab.b197ac","type":"tab","label":"Redis_Graph version release","disabled":false,"info":""},{"id":"339a3e15.c2e1e2","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"6d623bc8.8945d4","type":"tab","label":"BTC to Euro","disabled":false,"info":""},{"id":"41f59dfb.56643c","type":"group","z":"6d623bc8.8945d4","name":"","style":{"fill":"#d1d1d1","label":true},"nodes":["584b7599.5a734c","86b45ce2.199c48","83cfa869.6e347","df2a6383.f71d08","5553d2d0.40ecd4","8bd23aaa.333798"],"x":94,"y":119},{"id":"3c7ad1dc.c985de","type":"group","z":"c034d0.babdbb3","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["2eaa0ba7.6c9bb4","5564a232.69cbfc","2b63c685.44a96a","d9be6214.3ce09","2f8251e6.c9b31e","c0b2b649.3cace8","5fcedfcc.49dfd","748d97a.36e4868","f1b6448.75036b8","b1f1022e.1dcd5","9a276b1f.5f0038","34d315c3.650f5a","c02eef0.9c9691","28ec0b10.81be64","32cad95f.cd85a6"],"x":34,"y":1339,"w":1492,"h":402},{"id":"9c5b09db.1d6718","type":"group","z":"c034d0.babdbb3","name":"inverter_power_controls","style":{"label":true},"nodes":["cb5a3467.e889e8","5db9fa52.ea6234","87f71e1d.a33b","214afad2.d20fa6","18f9d2a6.b0becd","45a6d3a9.2761ac","c4641854.8d4378","ff6ff76.263ec08","bab67c2f.3e033","658cbe59.6eb08","e45efc67.93e6b","c518012d.12708","a00d7727.208ad8","cd59117d.5ebab","ef657dc7.62266"],"x":34,"y":479,"w":1752,"h":382},{"id":"9bdf5090.91f35","type":"server","name":"Home Assistant","legacy":false,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"644cd4db.19586c","type":"mqtt-broker","name":"local_mqtt","broker":"172.19.0.3","port":"8883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"25f60e78.d03912","type":"ui_tab","name":"Power Cart","icon":"dashboard","disabled":false,"hidden":false},{"id":"5878a867.c96a18","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Vistar_Enterprices_Power_cart","default":"#4B7930","baseColor":"#178bc4","baseFont":"Verdana,Verdana,Geneva,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#178bc4","edited":true},"page-titlebar-backgroundColor":{"value":"#178bc4","edited":false},"page-backgroundColor":{"value":"#2b2b2b","edited":true},"page-sidebar-backgroundColor":{"value":"#4d4c4c","edited":true},"group-textColor":{"value":"#a3d6f0","edited":true},"group-borderColor":{"value":"#b2e39c","edited":true},"group-backgroundColor":{"value":"#292929","edited":true},"widget-textColor":{"value":"#b8c18a","edited":true},"widget-backgroundColor":{"value":"#178bc4","edited":false},"widget-borderColor":{"value":"#050505","edited":true},"base-font":{"value":"Verdana,Verdana,Geneva,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"fafaefc6.8d00a","type":"ui_group","name":"Power Control","tab":"25f60e78.d03912","order":1,"disp":true,"width":21,"collapse":false},{"id":"df689168.e5f65","type":"ui_group","name":"BTC to USD","tab":"2de6e104.34cd0e","order":1,"disp":true,"width":"6","collapse":false},{"id":"2de6e104.34cd0e","type":"ui_tab","name":"BTC to USD","icon":"fa-btc","disabled":false,"hidden":false},{"id":"e9e676f0.2a8038","type":"ui_spacer","name":"spacer","group":"fafaefc6.8d00a","order":3,"width":1,"height":1},{"id":"fb482316.8ffd","type":"ui_spacer","name":"spacer","group":"fafaefc6.8d00a","order":5,"width":1,"height":1},{"id":"6dd1aaff.921b34","type":"ui_spacer","name":"spacer","group":"fafaefc6.8d00a","order":6,"width":5,"height":1},{"id":"ebf08cfa.e6abf","type":"ui_spacer","name":"spacer","group":"fafaefc6.8d00a","order":7,"width":1,"height":1},{"id":"892c71e.5eb199","type":"ui_spacer","name":"spacer","group":"fafaefc6.8d00a","order":8,"width":1,"height":1},{"id":"1261dbe2.f56184","type":"ui_spacer","name":"spacer","group":"fafaefc6.8d00a","order":9,"width":5,"height":1},{"id":"e92ac9e7.ca85f8","type":"ui_spacer","name":"spacer","group":"fafaefc6.8d00a","order":10,"width":1,"height":1},{"id":"89169e8.ab7b86","type":"ui_spacer","name":"spacer","group":"fafaefc6.8d00a","order":11,"width":1,"height":1},{"id":"e54b1409.fc3e88","type":"ui_spacer","name":"spacer","group":"fafaefc6.8d00a","order":12,"width":5,"height":1},{"id":"25f56591.38e7ea","type":"ui_spacer","name":"spacer","group":"fafaefc6.8d00a","order":13,"width":1,"height":1},{"id":"b938e4f3.54b188","type":"ui_spacer","name":"spacer","group":"fafaefc6.8d00a","order":15,"width":1,"height":1},{"id":"f21e82dd.b47d6","type":"ui_spacer","name":"spacer","group":"fafaefc6.8d00a","order":16,"width":5,"height":1},{"id":"e2950b53.83fc98","type":"ui_spacer","name":"spacer","group":"fafaefc6.8d00a","order":17,"width":1,"height":1},{"id":"bac2d954.d7ee68","type":"ui_spacer","name":"spacer","group":"fafaefc6.8d00a","order":18,"width":1,"height":1},{"id":"a19fb5f3.eef828","type":"ui_spacer","name":"spacer","group":"fafaefc6.8d00a","order":19,"width":5,"height":1},{"id":"452b8cbd.a8afa4","type":"ui_spacer","name":"spacer","group":"fafaefc6.8d00a","order":20,"width":1,"height":1},{"id":"193fddfb.fdee12","type":"ui_spacer","name":"spacer","group":"fafaefc6.8d00a","order":21,"width":1,"height":1},{"id":"e62a2d74.967a4","type":"ui_spacer","name":"spacer","group":"fafaefc6.8d00a","order":22,"width":5,"height":1},{"id":"52eb015c.aa31c","type":"ui_spacer","name":"spacer","group":"fafaefc6.8d00a","order":25,"width":1,"height":1},{"id":"d0a2dcc8.f6b24","type":"ui_spacer","name":"spacer","group":"fafaefc6.8d00a","order":26,"width":5,"height":1},{"id":"ef2031a.684d2d","type":"ui_spacer","name":"spacer","group":"fafaefc6.8d00a","order":27,"width":1,"height":1},{"id":"5c893b06.568eb4","type":"ui_spacer","name":"spacer","group":"fafaefc6.8d00a","order":28,"width":5,"height":1},{"id":"866eefa8.a58e4","type":"ui_spacer","name":"spacer","group":"fafaefc6.8d00a","order":29,"width":1,"height":1},{"id":"94ae6e9c.ff005","type":"ui_spacer","name":"spacer","group":"fafaefc6.8d00a","order":30,"width":5,"height":1},{"id":"798f02b.a957bfc","type":"ui_spacer","name":"spacer","group":"fafaefc6.8d00a","order":31,"width":1,"height":1},{"id":"e01ad3b.60f273","type":"ui_spacer","name":"spacer","group":"fafaefc6.8d00a","order":32,"width":5,"height":1},{"id":"ed4559c9.cabac8","type":"ui_spacer","name":"spacer","group":"fafaefc6.8d00a","order":33,"width":1,"height":1},{"id":"a08ce8a6.4174b8","type":"debug","z":"c034d0.babdbb3","name":"debug1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":160,"wires":[]},{"id":"cbf93d7d.b60bf","type":"mqtt in","z":"c034d0.babdbb3","name":"","topic":"+/+/+","qos":"2","datatype":"auto","broker":"644cd4db.19586c","nl":false,"rap":true,"rh":0,"x":340,"y":160,"wires":[["a08ce8a6.4174b8"]]},{"id":"8fe2a4b.4c00d58","type":"http request","z":"7de374ab.b197ac","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://github.com/RedisGraph/RedisGraph/releases","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":480,"wires":[["31383a9b.6eece6"]]},{"id":"111822a7.5c1f8d","type":"html","z":"7de374ab.b197ac","name":"Extract Releases","property":"payload","outproperty":"versions","tag":"a[class=\"Link--muted css-truncate\"]","ret":"attr","as":"multi","x":650,"y":460,"wires":[["a202bd87.872b8"]]},{"id":"a202bd87.872b8","type":"debug","z":"7de374ab.b197ac","name":"show versions","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"versions","targetType":"msg","statusVal":"","statusType":"auto","x":880,"y":460,"wires":[]},{"id":"f4d25db3.5326","type":"inject","z":"7de374ab.b197ac","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":480,"wires":[["8fe2a4b.4c00d58"]]},{"id":"31383a9b.6eece6","type":"rbe","z":"7de374ab.b197ac","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"versions","x":450,"y":460,"wires":[["111822a7.5c1f8d"]]},{"id":"584b7599.5a734c","type":"function","z":"6d623bc8.8945d4","g":"41f59dfb.56643c","name":"JSON to BTC in USD","func":"msg.payload = msg.payload.result.XXBTZUSD.a[0] * msg.bitcoin|0\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":160,"wires":[["86b45ce2.199c48","df2a6383.f71d08"]]},{"id":"86b45ce2.199c48","type":"debug","z":"6d623bc8.8945d4","g":"41f59dfb.56643c","name":"Konsole","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":980,"y":200,"wires":[]},{"id":"83cfa869.6e347","type":"http request","z":"6d623bc8.8945d4","g":"41f59dfb.56643c","name":"Bitcoin Kurs abfragen","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.kraken.com/0/public/Ticker?pair=BTCUSD","tls":"","persist":false,"proxy":"","authType":"","x":580,"y":160,"wires":[["584b7599.5a734c"]]},{"id":"8ecf18b2.b372","type":"inject","z":"6d623bc8.8945d4","name":"Konstanter BTC Kurs abfrage z.B. 0.022","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0.022","payloadType":"str","x":260,"y":60,"wires":[["5553d2d0.40ecd4"]]},{"id":"df2a6383.f71d08","type":"ui_gauge","z":"6d623bc8.8945d4","g":"41f59dfb.56643c","name":"Price","group":"df689168.e5f65","order":0,"width":0,"height":0,"gtype":"gage","title":"Bitcoin (BTC) to USD","label":"USD = {{msg.bitcoin}} BTC","format":"{{msg.payload}}","min":0,"max":"100000","colors":["#ff2600","#e6e600","#00f900"],"seg1":"100","seg2":"103","x":970,"y":160,"wires":[]},{"id":"5553d2d0.40ecd4","type":"ui_text_input","z":"6d623bc8.8945d4","g":"41f59dfb.56643c","name":"","label":"Enter BTC","tooltip":"","group":"df689168.e5f65","order":11,"width":"6","height":"1","passthru":true,"mode":"text","delay":300,"topic":"bitcoin","topicType":"msg","x":190,"y":160,"wires":[["8bd23aaa.333798"]]},{"id":"8bd23aaa.333798","type":"function","z":"6d623bc8.8945d4","g":"41f59dfb.56643c","name":"payload to bitcoin","func":"msg.bitcoin = msg.payload\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":160,"wires":[["83cfa869.6e347"]]},{"id":"b74152bb.45cdc8","type":"comment","z":"6d623bc8.8945d4","name":"Buy my a coffee: bitcoin:bc1qj4grttyhk2h5wqask3nku70e3qtycssz5kvw5l","info":"","x":360,"y":300,"wires":[]},{"id":"2263698f.cc311e","type":"comment","z":"6d623bc8.8945d4","name":"(c) 2021 Thomas Wenzlaff www.wenzlaff.info","info":"Quelle: \n\nhttps://bitcoinfees.earn.com/api\n\nhttps://bitcoinfees.earn.com\n\n\nhttps://mempool.space/api/v1/fees/recommended\n\nhttps://mempool.space/de/api","x":910,"y":300,"wires":[]},{"id":"b1f1022e.1dcd5","type":"function","z":"c034d0.babdbb3","g":"3c7ad1dc.c985de","name":"current_calibration","func":"msg.payload = msg.payload * 1.21\nmsg.topic = \"current\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":1700,"wires":[["c0b2b649.3cace8","c02eef0.9c9691"]]},{"id":"c0b2b649.3cace8","type":"join","z":"c034d0.babdbb3","g":"3c7ad1dc.c985de","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1030,"y":1580,"wires":[["9a276b1f.5f0038"]]},{"id":"9a276b1f.5f0038","type":"function","z":"c034d0.babdbb3","g":"3c7ad1dc.c985de","name":"Calculate Power","func":"msg.payload.power = Math.round(msg.payload.voltage * msg.payload.current);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":1580,"wires":[["28ec0b10.81be64"]]},{"id":"28ec0b10.81be64","type":"ui_gauge","z":"c034d0.babdbb3","g":"3c7ad1dc.c985de","name":"Inverter Load (Watts)","group":"fafaefc6.8d00a","order":2,"width":8,"height":6,"gtype":"gage","title":"Power","label":"Watts","format":"{{msg.payload.power}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"100","seg2":"500","x":1400,"y":1600,"wires":[]},{"id":"c02eef0.9c9691","type":"ui_chart","z":"c034d0.babdbb3","g":"3c7ad1dc.c985de","name":"Current over time.","group":"fafaefc6.8d00a","order":23,"width":8,"height":5,"label":"Current (A)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1070,"y":1700,"wires":[[]]},{"id":"5564a232.69cbfc","type":"mqtt in","z":"c034d0.babdbb3","g":"3c7ad1dc.c985de","name":"","topic":"tele/esp_pwr/SENSOR","qos":"1","datatype":"auto","broker":"644cd4db.19586c","nl":false,"rap":true,"rh":0,"x":160,"y":1580,"wires":[[]]},{"id":"2b63c685.44a96a","type":"function","z":"c034d0.babdbb3","g":"3c7ad1dc.c985de","name":"temperature","func":"msg.payload = msg.payload.DS18B20.Temperature;\nmsg.topic = \"temperature\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":1500,"wires":[["c0b2b649.3cace8","5fcedfcc.49dfd","748d97a.36e4868"]]},{"id":"2eaa0ba7.6c9bb4","type":"json","z":"c034d0.babdbb3","g":"3c7ad1dc.c985de","name":"","property":"payload","action":"","pretty":false,"x":390,"y":1580,"wires":[["2b63c685.44a96a","d9be6214.3ce09","2f8251e6.c9b31e"]]},{"id":"d9be6214.3ce09","type":"function","z":"c034d0.babdbb3","g":"3c7ad1dc.c985de","name":"voltage","func":"msg.payload = msg.payload.INA219.Voltage;\nmsg.topic = \"voltage\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":1620,"wires":[["c0b2b649.3cace8","f1b6448.75036b8"]]},{"id":"2f8251e6.c9b31e","type":"function","z":"c034d0.babdbb3","g":"3c7ad1dc.c985de","name":"current","func":"msg.payload = msg.payload.INA219.Current;\nreturn msg;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":1700,"wires":[["b1f1022e.1dcd5"]]},{"id":"f1b6448.75036b8","type":"ui_chart","z":"c034d0.babdbb3","g":"3c7ad1dc.c985de","name":"Volts","group":"fafaefc6.8d00a","order":24,"width":7,"height":5,"label":"Volts","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1030,"y":1640,"wires":[[]]},{"id":"5fcedfcc.49dfd","type":"ui_chart","z":"c034d0.babdbb3","g":"3c7ad1dc.c985de","name":"Temp F","group":"fafaefc6.8d00a","order":4,"width":6,"height":3,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1040,"y":1500,"wires":[[]]},{"id":"748d97a.36e4868","type":"range","z":"c034d0.babdbb3","g":"3c7ad1dc.c985de","minin":"75","maxin":"150","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"create_pwm","x":930,"y":1380,"wires":[["34d315c3.650f5a"]]},{"id":"32cad95f.cd85a6","type":"mqtt out","z":"c034d0.babdbb3","g":"3c7ad1dc.c985de","name":"set_pwm","topic":"cmnd/esp_pwr/dimmer","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"644cd4db.19586c","x":1380,"y":1400,"wires":[]},{"id":"34d315c3.650f5a","type":"function","z":"c034d0.babdbb3","g":"3c7ad1dc.c985de","name":"constrain 0-100","func":"msg.payload = Math.max(0,Math.min(100, msg.payload));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":1400,"wires":[["32cad95f.cd85a6"]]},{"id":"cb5a3467.e889e8","type":"function","z":"c034d0.babdbb3","g":"9c5b09db.1d6718","name":"off_state","func":"msg.payload = \"OFF\"\nmsg.state = \"OFF\"\nmsg.enabled = true\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":620,"wires":[["18f9d2a6.b0becd"]]},{"id":"5db9fa52.ea6234","type":"mqtt out","z":"c034d0.babdbb3","g":"9c5b09db.1d6718","name":"set power","topic":"cmnd/esp_pwr/Power1","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"644cd4db.19586c","x":1520,"y":580,"wires":[]},{"id":"87f71e1d.a33b","type":"function","z":"c034d0.babdbb3","g":"9c5b09db.1d6718","name":"on_state","func":"msg.payload = \"ON\"\nmsg.state = \"ON\"\nmsg.enabled = true\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":540,"wires":[["18f9d2a6.b0becd"]]},{"id":"214afad2.d20fa6","type":"switch","z":"c034d0.babdbb3","g":"9c5b09db.1d6718","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":560,"wires":[["87f71e1d.a33b"],["cb5a3467.e889e8"]]},{"id":"18f9d2a6.b0becd","type":"ui_switch","z":"c034d0.babdbb3","g":"9c5b09db.1d6718","name":"inverter_power_toggle","label":"Inverter is: {{msg.state}}","tooltip":"","group":"fafaefc6.8d00a","order":1,"width":5,"height":1,"passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"green","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"red","animate":true,"x":1200,"y":580,"wires":[["ff6ff76.263ec08","c4641854.8d4378","a00d7727.208ad8","5db9fa52.ea6234"]]},{"id":"45a6d3a9.2761ac","type":"function","z":"c034d0.babdbb3","g":"9c5b09db.1d6718","name":"extract_power_state","func":"msg.payload = msg.payload.POWER1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":560,"wires":[["214afad2.d20fa6","c4641854.8d4378"]]},{"id":"c4641854.8d4378","type":"debug","z":"c034d0.babdbb3","g":"9c5b09db.1d6718","name":"debug2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1080,"y":820,"wires":[]},{"id":"ff6ff76.263ec08","type":"function","z":"c034d0.babdbb3","g":"9c5b09db.1d6718","name":"","func":"msg.enabled = false;\nmsg.state = \"switching...\";\nmsg.payload = null\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1200,"y":520,"wires":[["18f9d2a6.b0becd"]]},{"id":"bab67c2f.3e033","type":"mqtt in","z":"c034d0.babdbb3","g":"9c5b09db.1d6718","name":"","topic":"tele/esp_pwr/STATE","qos":"1","datatype":"json","broker":"644cd4db.19586c","nl":false,"rap":true,"rh":0,"x":150,"y":640,"wires":[["45a6d3a9.2761ac","658cbe59.6eb08"]]},{"id":"658cbe59.6eb08","type":"function","z":"c034d0.babdbb3","g":"9c5b09db.1d6718","name":"extract_dimmer","func":"msg.payload =  msg.payload.Dimmer;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":800,"wires":[["e45efc67.93e6b"]]},{"id":"e45efc67.93e6b","type":"ui_chart","z":"c034d0.babdbb3","g":"9c5b09db.1d6718","name":"pwm_fan_speed","group":"fafaefc6.8d00a","order":14,"width":6,"height":3,"label":"PWM Fan Speed","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":700,"y":800,"wires":[[]]},{"id":"c518012d.12708","type":"mqtt out","z":"c034d0.babdbb3","g":"9c5b09db.1d6718","name":"","topic":"cmnd/esp_pwr/POWER1","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"644cd4db.19586c","x":1650,"y":660,"wires":[]},{"id":"a00d7727.208ad8","type":"delay","z":"c034d0.babdbb3","g":"9c5b09db.1d6718","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1400,"y":620,"wires":[["c518012d.12708","c4641854.8d4378"]]},{"id":"3767b036.2ef8","type":"inject","z":"c034d0.babdbb3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1300,"y":880,"wires":[["c518012d.12708"]]},{"id":"cd59117d.5ebab","type":"mqtt in","z":"c034d0.babdbb3","g":"9c5b09db.1d6718","name":"","topic":"stat/esp_pwr/RESULT","qos":"2","datatype":"json","broker":"644cd4db.19586c","nl":false,"rap":true,"rh":0,"x":420,"y":620,"wires":[["ef657dc7.62266"]]},{"id":"ef657dc7.62266","type":"function","z":"c034d0.babdbb3","g":"9c5b09db.1d6718","name":"extract_POWER1","func":"msg.payload = msg.payload.POWER1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":680,"wires":[["214afad2.d20fa6","c4641854.8d4378"]]}]